// ---------------------------------------------------------------------------
// Imports

@import susy
@import compass
// ---------------------------------------------------------------------------
// Basic Grid

$total-columns: 12
$column-width: 4em
$gutter-width: 1em
$grid-padding: $gutter-width

$show-grid-backgrounds: true

// Vertical Rhythm

$base-font-size: 18px
$base-line-height: 30px
+establish-baseline