@import compass

// // Vertical Rhythm
$base-font-size: 20px
$base-line-height: 33px
+establish-baseline

// The font sizes for h1-h3.
$h1-font-size: 2.5  * $base-font-size
$h2-font-size: 1.5  * $base-font-size
$h3-font-size: 0.9  * $base-font-size

h1
  +adjust-font-size-to($h1-font-size)
  +adjust-leading-to(1.4, $h1-font-size)

h2
  +adjust-font-size-to($h2-font-size)

h3.headline
  +adjust-font-size-to($h3-font-size)
  +adjust-leading-to(0, $h3-font-size)
  font-weight: normal
  font-style: italic

h1,h3
  text-align: center

// The default font family.
$base-font-family: sans-serif !default

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default

// Set 1 unit of vertical rhythm on the top and bottom margin.
blockquote
  margin: rhythm(1) $indent-amount

//Set 1 unit of vertical rhythm and a consistent indentation.
dl,
menu,
ol,
ul
  margin: rhythm(1) 0
  padding: 0 0 0 $indent-amount