@import compass

// Setting up Vertical Rhythm
$base-font-size: 18px
$base-line-height: 30px
+establish-baseline

// Font size setup
$h1-font-size: 2.5  * $base-font-size
$h2-font-size: 1.0  * $base-font-size
$h3-font-size: 0.9  * $base-font-size
$h1-article:   1.5  * $base-font-size

// Font family setup
@import url("http://fonts.googleapis.com/css?family=Open+Sans")
@import url("http://fonts.googleapis.com/css?family=Nova+Square")

$base-font-family: 'Open Sans', sans-serif
$header-font-family: 'Nova Square', cursive

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default


// Font families
body
  font-family: $base-font-family

h1,h2,h3,h4,h5,h6
  font-family: $header-font-family

// Font size and style
aside h1
  +adjust-font-size-to($h1-font-size)
  text-align: center
article h1
  +adjust-font-size-to($h1-article)

h2
  +adjust-font-size-to($h2-font-size)

h3
  +adjust-font-size-to($h3-font-size)
h3.headline
  font-weight: normal
  font-style: italic
  text-align: center

.workplace
  font-weight: normal
  font-style: italic
  +adjust-font-size-to(16px)

// Set 1 unit of vertical rhythm on the top and bottom margin.
blockquote
  margin: rhythm(1) $indent-amount

//Set 1 unit of vertical rhythm and a consistent indentation.
dl,
menu,
ol,
ul
  margin: rhythm(1) 0
  padding: 0 0 0 $indent-amount