// Imports
@import "normalize"
@import "base"
@import "typography"
/* -------------------------------------------------------------------------
 Layout */

body
  //background-color: $base-color

#container
  +container
  +susy-grid-background

aside
  background-color: $third-color
  position: fixed
  width: $column-width*3

#content
  +span-columns(9 omega, 12)


// Media queries
+at-breakpoint(12 50em)
  #content
    +span-columns(12)
  aside
    +span-columns(12)
    ul li
      display: inline
    nav#main-nav
      float: left
    nav#social
      float: right
      margin-right: 2em
