// Imports
@import "normalize"
@import "base"
@import "typography"
/* -------------------------------------------------------------------------
 Layout */

//setting up grid
#container
  +container
  //+susy-grid-background

//left side aside layout
aside
  background-color: $second-color
  color: $base-color
  position: fixed
  width: $column-width*3

  #social ul li
    display: inline

  #main-nav ul li
    list-style-type: none

// scrollspy active
li.active a
  color: $base-color

// anchor tags
a
  color: $third-color

// white anchor tag
aside, .work-tabs-header
  a
    text-decoration: none
  a:hover
    color: $base-color

//right side content layout
#content
  +span-columns(9 omega, 12)
#education, #work, #skills
  clear: both
#formal-ed
  +span-columns(5, 9)
#online-ed
  +span-columns(4 omega, 9)
li
  list-style-type: square

// Article headers
article h1:first-child
  +leader(0)
article > header
  background-color: $second-color
  color: $third-color

// Freelance work tabs
#tabs
  border: 0.1em solid
  min-height: 20em
  +trailer(1)
  ul
    +leader(0)

.work-tabs-header
  background-color: $second-color
  li
    display: inline
    padding: 1em
    margin: 0
  li.active-tab-header
    background-color: $base-color
    border: 0.1em solid
    padding: 0.5em
    a:hover
      color: inherit

.work-tabs-body
  text-align: center
  > li
    display: block
    p, li
      text-align: left

// Media queries
+at-breakpoint(12 50em)
  // the content div expands to 12 columns
  #content
    +span-columns(12)
    article h1:first-child
      +leader(0.5)
  // the aside stretches to 12 columns on top of #content
  aside
    position: static
    +span-columns(12)
    nav#main-nav
      float: left
      ul li
        display: inline
    nav#social
      float: right
      margin-right: 2em
